<html>
<head>
  <%- include('header') %>
</head>
<body>
  <%- include('navbar') %>
  <div class="container">
    <h2>Data per timestamp</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Durations</th>
        </tr>
      </thead>
      <tbody>
        <% if (dataByTimestamp) {
          for (var i=dataByTimestamp.length - 1; i>=0; i--) { %>
            <tr>
              <td><%= new Date(parseFloat(dataByTimestamp[i]['timestamp'])) %></td>
              <td><%= JSON.stringify(dataByTimestamp[i]['responseRecords']) %></td>
            </tr>
          <% }
        } %>
      </tbody>
    </table>
  </div>
</body>
<html>